.admin_dashboard_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--neutral-neutral-02, #fff);
    padding: 25px;
  }
  
  .admin_dashboard_header span {
    font-size: 20px;
    font-weight: 500;
  }
  
  .admin_dashboard_header_actions {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .admin_dashboard_header_actions img {
    cursor: pointer;
  }
  
  .header_icon{
    width: 20px;
height: 20.173px;
}

.profile {
  position: fixed;
  position: absolute;
  z-index: 20;
  right: 50px;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #fa7b42;
  background: var(--neutral-neutral-02, #fff);
}

.profile_content {
  display: flex;
  gap: 10px;
  color: var(--neutral-neutral-01, #000);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
  